target/
Cargo.lock

**/*.rs.bk
*.bin
*.elf
*.img
*.iso
*.o
*.a
*.map

*.efi
esp/NvVars
OVMF_CODE*.fd
OVMF_VARS*.fd

bootimage-*.bin
)
*.log)
*.dump

*.swp
*.swo
*~

.vscode/

.idea/

.DS_Store
Thumbs.db
